%tr
  %td{:align => "center"}
    %h1{:style => "margin:0;font-weight:bold;font-size:30px;color:#444;text-align:center;"}= t 'user_mailer.verifications.rejected.title'

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle"}
    %table
      %tbody
        %tr
          %p{ :style => "margin:20px 0 15px 0;text-align:left;" }
            %span{ :style => "font-size:16px;color:#444;text-align:left;" } Thanks for your patience. We've reviewed your request and are unable to verify your account at this time. See:
            = link_to 'Why did my verification fail?', 'https://tooter.in/help/posts/105404898395798908'
            %span{ :style => "font-size:16px;color:#444;text-align:left;" } for common reasons for verification rejections.
          %p{ :style => "margin:0 0 15px 0;text-align:left;" }
            %span{ :style => "font-size:16px;color:#444;text-align:left;" } The proof you sent has been deleted from our servers completely.
          %p{ :style => "margin:0 0 15px 0;text-align:left;" }
            %span{ :style => "font-size:16px;color:#444;text-align:left;" } Thank you

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle;padding-top:10px;padding-bottom:30px;"}
    %table{ align: 'center', cellspacing: 0, cellpadding: 0 }
      %tbody
        %tr
          %td{ :style => "background-color:#30CE7D;height:56px;border-radius:9999px;color:#fff;" }
            = link_to "Go to Tooter Home", "https://tooter.in/home", :style => "height:56px;padding:20px 30px;text-decoration:none;color:#fff;font-size:16px;margin:0;"

