<%= t 'user_mailer.verifications.rejected.title' %>

===

Thanks for your patience. We've reviewed your request and are unable to verify your account at this time.
See: https://tooter.in/help/posts/105404898395798908 for common reasons for verification rejections.
The proof you sent has been deleted from our servers completely.
Thank you

