<%= t 'user_mailer.welcome.title', name: @resource.account.username %>

We are so happy to have you. Here are a few tips to get you started.

---

1. Invite your friends and family to join Tooter. The more the merrier.
2. Be polite and respectful.
3. Speak freely but speak the truth!

===

Go to Tooter Home

https://tooter.in/home

