- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .fields-group
    - if use_seamless_external_login?
      = f.input :email, autofocus: true, wrapper: :with_label, label: t('simple_form.labels.defaults.username_or_email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.username_or_email') }, hint: false
    - else
      = f.input :email, autofocus: true, wrapper: :with_label, label: t('simple_form.labels.defaults.email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }, hint: false
  .fields-group
    = f.input :password, wrapper: :with_label, label: t('simple_form.labels.defaults.password'), input_html: { 'aria-label' => t('simple_form.labels.defaults.password'), :autocomplete => 'off' }, hint: false

  .actions
    = f.button :button, t('auth.login'), type: :submit, data: { disable_with: "Signing in..." }

- if devise_mapping.omniauthable? and resource_class.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= t('auth.or_log_in_with')

    .actions
      - resource_class.omniauth_providers.each do |provider|
        = link_to omniauth_authorize_path(resource_name, provider), class: "button button-#{provider}" do
          = t("auth.providers.#{provider}", default: provider.to_s.chomp("_oauth2").capitalize)

.form-footer= render 'auth/shared/links'
