- content_for :page_title do
  = "#{display_name(account)} on Tooter"

- content_for :header_tags do
  - if account.user&.setting_noindex
    %meta{ name: 'robots', content: 'noindex' }/

  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_stream_entry_url(account, stream_entry, format: 'atom') }/
  %link{ rel: 'alternate', type: 'application/json+oembed', href: api_oembed_url(url: account_stream_entry_url(account, stream_entry), format: 'json') }/
  %link{ rel: 'alternate', type: 'application/activity+json', href: ActivityPub::TagManager.instance.uri_for(stream_entry.activity) }/

  = opengraph 'og:site_name', site_title
  = opengraph 'og:type', 'article'
  = opengraph 'og:title', t('statuses.title', name: display_name(account), quote: stream_entry.activity.spoiler_text.presence || stream_entry.activity.text)
  = opengraph 'og:url', short_account_status_url(account, stream_entry.activity)

  = render 'stream_entries/og_description', activity: stream_entry.activity, account: account
  = render 'stream_entries/og_image', activity: stream_entry.activity, account: account
