- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_extended_description.html_safe.presence || t('about.extended_description_html')

  %br

  .box-widget
    .rich-formatting
      %h3 Open Source
      %p At Tooter, we believe that India should have a Swadeshi social network. With out one we are just a digital colony of Twitter India Company, just like we were under the East India Company. This is our humble attempt to become Athmanirbhar.
      = link_to "GitLab", "https://code.gab.com/gab/social/gab-social"
