- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %link{ rel: 'canonical', href: about_url }/
  = render partial: 'shared/og'

.landing
  .landing-columns
    .landing-columns--left
      .landing__brand
        = link_to root_url, class: 'brand' do
          %img(src='/legacy/tooter_made_in_india.svg' alt='Tooter')
        %h1.brand__tagline=t 'about.tagline'
        %br/
        %br/
        = link_to 'http://app.tooter.in', class: 'app' do
          %img(src='/legacy/google-play-badge.png' alt='Get it on Google Play')        
 
    .landing-columns--right
      .box-widget
        = render 'registration'
