- content_for :page_title do
  = t('auth.reset_password')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'shared/error_messages', object: resource

  .fields-group
    = f.input :email, autofocus: true, wrapper: :with_label, label: t('simple_form.labels.defaults.email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }, hint: false

  .actions
    = f.button :button, t('auth.reset_password'), type: :submit, data: { disable_with: "Resetting..." }

.form-footer= render 'auth/shared/links'
