<%= yield %>

---

Questions? Simply email support@tooter.in

Tooter.in

---

<%= t 'about.hosted_on', domain: site_hostname %>
<%= t('application_mailer.settings', link: settings_preferences_url) %>
