- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  %link(rel='stylesheet' href='/legacy/common.css')
  %link(rel='stylesheet' href='/legacy/default.css')

- content_for :content do
  .public-layout
    .background-svg
    - unless @hide_navbar
      %nav.header
        .header-container
          .nav-left
            = link_to root_url, class: 'brand' do
              %img(src='/legacy/shamkam.svg' alt='Tooter')
            = link_to t('home'), root_url, class: 'nav-link optional'
            = link_to t('about.about_this'), about_path, class: 'nav-link'
          .nav-center
          .nav-right
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'nav-link nav-button webapp-btn'
            - else
              .hidden-sm
                = render 'about/login'
              .visible-sm
                = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn nav-link nav-button'

    .container= yield

    .footer
      .footer-container
        .copyright
          %span= "2022 Tooter Pvt. Ltd. All Rights Reserved."
        %ul
          %li= link_to t('about.investors'), about_investors_path
          %li= link_to 'Terms of Sale', about_sales_path
          %li= link_to 'DMCA', about_dmca_path
          %li= link_to 'Source Code', about_path + "#opensource"
          %li= mail_to 'support@tooter.in', 'Press'
          %li= link_to 'Terms of Service', about_tos_path
          %li= link_to 'Privacy Policy', about_privacy_path

= render template: 'layouts/application'
