- content_for :header_tags do
  - if @current_user
    = preload_link_tag asset_pack_path('features/home_timeline.js'), crossorigin: 'anonymous'
    = preload_link_tag asset_pack_path('features/notifications.js'), crossorigin: 'anonymous'

  %meta{name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key}
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)

  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'

#gabsocial{ data: { props: Oj.dump(default_props) } }
  %noscript
    %div{ :style => "padding: 60px; max-width: 560px;" }
      = image_pack_tag 'logo.svg', alt: 'Tooter', width: '100px'
      %div{ :style => "margin-top: 20px; line-height: 2rem; font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;" }
        = t('errors.noscript_html', apps_path: 'https://tooter.in')
